.roundIndicator{
  background-color: var(--blue);
  font-family: "CodeProBold";
  width: 150px;
  height: 150px;
  border-radius: 10px;
  text-align: center;
  line-height: 150px;
}

.instructions{
  flex-grow: 1;
  background-color: var(--orange);
  height: 135px;
  border-radius: 10px;
  padding: 10px;
}

.mainInstruction{
  font-family: "CodeProBold";
  font-size: 20px;
}

.subInstruction{
  font-family: "CodeProBold";
  font-size: 18px;
  margin-top: 10px;
}

.resultsFromPrev{
  margin-top: 10px;
  font-family: "Hero";
  font-size: 16px;
}

.cash{
  background-color: var(--blue);
  font-family: "CodeProBold";
  width: 150px;
  height: 150px;
  border-radius: 10px;
  text-align: center;
  line-height: 150px;
}

.choiceContainer{
  background-color: var(--green);
  display: flex;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
}

.businesses{
  flex-grow: 1;
  background-color: var(--beige);
  margin: 20px;
  border-radius: 10px;
  height: 400px;
  text-align: center;
}

.businessName{
  font-family: "CodeProBold";
  color: var(--darkBrown);
  font-size: 32px;
  margin: 10px;
  text-align: center;
}

.businessDescription{
  font-family: "hero";
  color: var(--darkBrown);
  font-size: 24px;
  margin: 10px;
  text-align: center;
}

.expectedReturn{
  font-family: "CodePro";
  color: var(--red);
  font-size: 15px;
  margin: 20px;
  text-align: center;
}

input{
  margin: 10px;
}
