.roundIndicator{
  background-color: var(--blue);
  font-family: "CodeProBold";
  width: 150px;
  height: 150px;
  border-radius: 10px;
  text-align: center;
  line-height: 150px;
}

.descriptionGroup{
  flex-grow: 1;
  background-color: var(--green);
  height: 150px;
  border-radius: 10px;
  text-align: center;
}

.mainInstructions{
  font-family: "CodeProBold";
  margin: 10px;
  font-size: 30px;
}

.description{
  font-family: "Hero";
  margin: 10px;
  font-size: 24px;
}

.score{
  background-color: var(--blue);
  font-family: "CodeProBold";
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.gameContainer{
  background-color: var(--lightBrown);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hangmanContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 500px;
  background-color: var(--brown);
  margin: 10px;
  border-radius: 10px;
}

.hangmanImg{
  height: 450px;
  border-radius: 10px;
}

.guessContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  background-color: var(--brown);
  margin: 10px 20px 10px 10px;
  height: 500px;
  border-radius: 10px;
}

.guessBlanks{
  font-family: "CodePro";
  flex-grow: 1;
  background-color: var(--beige);
  width: 95%;
  border-radius: 10px;
  margin: 20px auto 10px auto;
  padding: 10px;
  text-align: center;
  line-height: 200px;
  font-size: 60px;
}

.guesses{
  font-family: "CodePro";
  display: flex;
  align-items: center;
  justify-content: center;
  height:50px;
  margin: 10px;
  padding: 10px;
  background-color: var(--beige);
  width: 95%;
  border-radius: 5px;
  font-size: 20px;
}

.inputField{
  margin: 10px;
  height: 50px;
  width: 300px;
  text-align: center;
  font-size: 20px;
}

.subButton{
  margin: 10px;
  width: 250px;
}
