*{
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: "CodeProBold";
  src: url("./fonts/Code Pro Bold LC.otf");
}

@font-face {
  font-family: "CodePro";
  src: url("./fonts/Code Pro LC.otf");
}

@font-face {
  font-family: "Hero";
  src: url("./fonts/Hero.otf");
}

:root{
  --red: #B8555A;
  --orange: #FC9141;
  --yellow: #E8C46E;
  --blue: #5EAAAF;
  --green: #839B7B;
  --lightBrown: #94816D;
  --brown: #57453B;
  --darkBrown: #2E2E2B;
  --beige: #D1B07A;
}

.logocontainer{
  background-color: rgba(255,255,255,50%);
  margin: 20px;
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
}

.logo{
  height: 100px;
  opacity: 100%;
}

.welcome{
  background-color: rgba(255,255,255,50%);
  text-align: center;
  border-radius: 10px;
  width: 50%;
  margin: 50px auto;
  padding: 20px;
}

.welcomeMessage{
  margin: 20px;
  font-family: "CodeProBold";
  color: var(--darkBrown);
}

.welcomeSubMessage{
  margin: 20px;
  font-family: "Hero";
}

.game{
  background-color: rgba(255,255,255,50%);
  width: 95%;
  margin: 50px auto;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.gameHeader{
  display: flex;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: rgba(155,255,255,50%);
  height: 150px;
  padding: 10px;
}

body{
  background: url("./images/dashboard_bg.png");
  background-size: cover;
}

button{
  font-family: "CodeProBold";
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border-color: var(--red);
  background-color: var(--red);
}
